<h1 class="d-flex p-2 bd-highlight">Grados técnicos CES Juan Pablo II</h1>
<h6 class="d-flex p-2 bd-highlight">Aplicación WEB realizada por Álvaro Iglesias para el ciclo de Desarrollo de
    Aplicaciones Multiplataforma</h6>
<hr>
<p class="d-flex p-2 bd-highlight">Aplicación realizada para el módulo de DI, hecha en Angular que consta de: </p>
<ul class="list-group">
    <li class="list-group-item">
        <p> Componente home: representa la entrega inicial de la aplicación</p>
    </li>
    <li class="list-group-item">
        <p> Componente Ciclos: representa tantas cartas como ciclos existan en el servicio CicloService</p>
    </li>
    <li class="list-group-item">
        <p> Componente Asignaturas: representa tantas cartas como asignaturas haya en el servicio
            AsignaturasService. Adicionalmente se cuenta con un filtro para poder ver asignaturas específicas.</p>
    </li>
    <li class="list-group-item">
        <p> Componente Asignatura: representa el aspecto que tendrá una carta de las de arriba mencionadas</p>
    </li>
    <li class="list-group-item">
        <p> Componente DetalleCiclo: representa el detalle de un ciclo, donde se mostrarán los conocimiento
            necesarios para poder aprobar el ciclo y todas las asignaturas que lo componen</p>
    </li>
    <li class="list-group-item">
        <p> Componente NavBar: representa la barra de navegación superior, donde se muestra el menú con las
            siguientes posibilidades:</p>
        <ul>
            <ul>
                <li>Inicio: llevará al componente Home</li>
                <li>Ciclos: llevará al componente Ciclos</li>
                <li>Asignaturas: llevará al componente Asignaturas</li>
            </ul>
        </ul>
    </li>
    <li class="list-group-item">
        <p> Servicios: Se deberá crear al menos dos servicios que provean de datos tanto para los ciclos como para
            las asignaturas</p>
    </li>
    <li class="list-group-item">
        <p> Pipes: se deberá crear al menos dos directivas personalizadas que realice alguna transformación en la
            aplicación</p>
    </li>
</ul>
<br>
<a href="https://www.cesjuanpablosegundo.es/">
    <button type="button" class="btn btn-primary">Ir a la web</button>
</a>
<br>